#firstpara{
    background-color: red;
    height: 45px;
    width: 100px;
    /* border-color: green;
    border-width: 4px;
    border-style: solid; */
    border: 4px solid aqua;
    border-radius: 11px;

}
#secondpara{
    background-color: violet;
    height: 45px;
    width: 100px;
    border-right: 2px solid pink;
    border-left: 2px solid blue;
    border-top: 2px solid yellowgreen;
    border-bottom: 2px solid red;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 5px;

}

#thirdpara{
height: 1155px;
width: 455px;
background-image: url('https://e1.pxfuel.com/desktop-wallpaper/584/823/desktop-wallpaper-yun-yun-btth.jpg');
border: 2px solid rgb(50, 8, 216);
background-repeat: no-repeat; /* repeat-x and repeat-y will make it rpeate on X and Y axis*/
/* background-position: 192px 34px; */
background-position: bottom right;
}