.container{
    border: 2px solid black;
    background-color: khaki;
    height: 3444px;
}

.box{
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
    display: inline-block;
}
    

#box3 {
    position: fixed;
    /* left: 7px; */
    /* top: 70px; */
    /* right: 4px;
    bottom: 2px; */
/* #box1{
    position: static;
}
#box1{
    position: static;
}*/
position: sticky;
top: 3px;
}