.navbar{
background-color: #35c31891;
border-radius: 30px;

}
.navbar ul{
    overflow: auto;
}

.navbar li{
    float: left;
    list-style: none;
    margin: 13px 20px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: #0f1301;
    padding-top: 3px;
}
.search{
    float: right;
    color: #0f1301;
    padding: 12px 75px;
}
.navbar input{
    border: 2px solid black;
    border-radius: 14px;
    padding: 5px 10px;
    width: 129px;


}
.navbar li a:hover{
    color: blueviolet;
}