*{
box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}
.container{
    border: 3px solid purple;
    width: 900px;
    margin: auto;
}

.item{
    border: 2px solid grey;
    margin: 12px 3px;
    padding: 12px 3px;
    background-color: blanchedalmond;
}
#fruits{
       float: left;
       width: 48%;
}

#computer{

    float: left;
       width: 48%;
}

#makeup{
    /* float: left; */
    clear: both;
       width: 100%;
}