.box{
    width: 170px;
    height: 170px;
    border: 2px solid black;
}
#box1{ background-color: green;
      position: relative;
      top: 49px;
      z-index: -35;
}

#box2{ background-color: red;
/* visibility: hidden; will the element and show the space
display: none; wiill hide th element and the space} */
position: relative;
top: 14px;
z-index:-1;
}

#box3{ background-color: blue;}

#box4{ background-color: yellow;}