.container{
    height: 344px;
    width: 100%;
    border: 2px solid black;
    display: flex; /* Initialize the container as flex box */

    /* Flex Properties for flex container */
 
    /* flex-direction: row; /* by default value is row  */
    /* flex-direction: column;
    flex-direction: row-reverse;
    flex-direction: column-reverse; */

    flex-wrap: wrap; /* by default value no wrap */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: row-reverse wrap; */

/* justify-content: will jsutify the content in horizontal direction */
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
    justify-content: space-around;
/* align-items will jsutify the content in Vertical direction */
    align-items: center;
    align-items: flex-end;
    align-items: flex-start;
    align-items: stretch;

}
.item{

    
    background-color: tomato;
    border: 2px solid greenyellow;
    margin: 10px;
    padding: 3px;
    width: 150px;
    height: 150px;
}
   /* Flex Properties for flex container */
   #item-1{
    /* higher the order, later it shows up in the container    */
                    /* order: 2; */
                    /* flex-grow: 2;
                    flex-shrink: 3; */
                    flex-basis: 320px;
                    /* when flex direction:  set to row flex basis will control width;
                    when flex direction:  set to colomn flex basis will control height; */
   }
   #item-2{
    /* flex-grow: 3;
    flex-shrink: 3; */
   }
   #item-3{
    order: 40;
   }