.container{
    border: 2px solid red;
    background-color:aqua;
    padding: 34px;
    margin: 34px auto;
    width: 666px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: red;
    background-color: white;
}
a:visited{
    color:yellow;
}
a:active{
    background-color: darkblue;
}

.btn{
     background-color: crimson;
     padding: 6px;
     border: none;
     cursor: pointer;
      font-size: 13px;
      border-radius: 4px;
      font-family: 'Times New Roman', Times, serif;
      font-weight: bold;
}
.btn:hover{
    color: rgb(81, 195, 221);
    background-color: darkgoldenrod;
    border: 2px solid black;
}