*{
    box-sizing: border-box;
}
img{
    width: 34px;
    margin: auto;
    display: block;
}
h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3px;
    text-align: center;
}
header{
    margin: auto;
    border: 2px solid red;
    width: 1000px;
}
.box{
    border: 4px solid black;
    background-color: grey;
    margin: 4px 0px;
    padding: 23px;
    display: inline-block;
    width: 33%;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 1000px;
}