.box{
    background-color: red;
    color: whitesmoke;
    font-size: 72px;
    text-align: center;
    display: none;
}
@media (max-width: 300px){
    #box-1{
        display: block;
    }
}
@media (max-width: 500px) and (min-width:300px){
    #box-2{
        display: block;
    }
}