header{
    display: flex;
    /* flex-direction: row; */
    flex-direction: column;
}
body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.navigation{
    display: flex;
    font-size: 24px;
}
li{
    list-style: none;
    padding: 34px 23px;
}
section{
    display: flex;
    flex-direction: column;
    margin: 3px 23px;
    align-items: center;
    border: 2px solid red;
    justify-content: center;
    height: 344px;
}
section::after{
    content: "This is content";
}
h1{
    font-size: 4rem;
}