h1{
    background-color: red;
    color: black;
    font-weight: bold;
    text-align: center;
}
/* if p is contained by any li which is contained by div */
/* div li p{
    color: yellow;
    font-weight: bold;
    background-color: green;
} */
/* if p is right inside div then this css will be applied */
/* div > p{
    color: yellow;
    font-weight: bold;
    background-color: green;
} */
/* if p is right after div,if p is the next sibling of div */
/* div + p{
    color: white;
    background-color: rgb(196, 119, 119);
} */