:root{
    --primary-color: violet;
    --danger-color: red;
    --maxw: 333 px;
}
.box{
    --box-color: violet;
    height: 200px;
    width: 200px;
    background-color: var(--primary-color);
    border: 2px solid red;
    box-shadow: 3px 3px var(--danger-color);
    margin: 2px 9px;
}
.container{
    display: flex;
    background-color: var(--danger-color);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: var(--maxw);
    /* background-color: var(--box-color); */
}