.container{
    display: block;
    width: 150px;
    margin: auto;
}
input{
    display: block;
}

input[ type='text']{
    padding: 23px;
    border: 2px solid red;
}
a[target]{
    font-size : 44px;
    color: violet;
}
a[target='_self']{
    font-size : 44px;
    color: blanchedalmond;
}
input[type='email']{
    border: 4px solid black;
    color: yellow;
}
/* this will apply css for third child */
/* li:nth-child(3){
    color: cyan;
}
li:nth-child(2n+0){
    color: red;
} */

/* li:nth-child(odd){
    color: blueviolet;
} */
li:nth-child(3n+3){
    color: green
}
